* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #121212;
    font-family: Arial, sans-serif;
}

/* HEADER */
.navigator-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: white;
}

.imgMenu {
    max-width: 17%;
    height: auto;
}

.imgProfile{
    max-width: 13%;
}

/* BODY */
#main {
    position: relative;
}

.content-home {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;

    gap: 20px;
}

.textLarge{
    font-size: large;
}

.textSmall{
    font-size: small;
}

.content-home img {
    width: 227px;
    height: 227px;
}

/* MENU BOTTOM */
.menu-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #363636;
    padding: 10px 0;
}

.navigator-bottom {
    display: flex;
    justify-content: space-around; 
    align-items: center; 
}

.btn{
    background-color: transparent;
    color: white;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px; 
    font-size: smaller; 
    cursor: pointer;
}

.btn-plus {
    background-color: #8687E7;
    border-radius: 50%;
    display: flex;
    position: absolute;
    margin-bottom: 120px;
}

.btn-plus img {
    scale: 0.6;
}

/* FORMS */
form {
    padding: 20px;
    background-color: #363636;
    position: absolute;
    z-index: 1;
    margin: auto;

    border-radius: 10px;
    width: 100%;

    color: white;
}

.form-inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #121212;
}
.form-inputs input, textarea{
    width: 100%;
    height: 35px;
    resize: none;
}

.form-buttons{
    text-align: center;
    background-color: #121212;
}