* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #121212;
    font-family: Arial, sans-serif;
}

/* HEADER */
.navigator-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: white;
}

.imgProfile,
.imgMenu {
    max-width: 17%;
    height: auto;
}

/* BODY */
.content-home {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;

    gap: 20px;
}

.textLarge{
    font-size: large;
}

.textSmall{
    font-size: small;
}

.content-home img {
    width: 227px;
    height: 227px;
}

/* MENU BOTTOM */
.menu-bottom {
    display: flex;
    position: fixed;
    bottom: 0;
    padding: 5px;
    height: 80px;
    width: 100%;
    background-color: #363636;
    justify-content: space-around;
}

.btn{
    background-color: transparent;
    border: none;
    color: white;
}

.btn-plus{
    background-color: #8687E7;
    border-radius: 50%;
}

.btn-plus img{
    scale: 0.7;
}

.navigator-bottom{
    display: flex;
}

/* FORMS */
form{
    padding: 20px;
    background-color:#363636;
}